*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:1px solid red;
}
body{
    height:100%;
}
.image{
    display:flex;
    justify-content: center;
}
.image img{
    max-width:80%;
}
.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto;
    height:100%;
    row-gap: 50px;
    column-gap: 50px;
}

header{
    grid-column:1/span 2 ;
}

main{
    display:grid;
    grid-template-rows: repeat(3,300px);
    margin: 0 auto;
    width:95%;
    row-gap:100px;
    grid-column: 1/span 2;
}

.img-1-con{
    grid-column: 1/ span 1;
}
.img-2-con{
    grid-column: 2/ span 1;
    grid-row: 1/span 1;
    margin-top:70px;
    margin-bottom:-70px;
}
.img-3-con{
    grid-row: 2/span 1;
}
.img-4-con{
    grid-row: 2/span 1;
    grid-column: 2/ span 1;
    margin-top:70px;
    margin-bottom:-70px;
}
.img-5-con{
    grid-row: 3/span 1;
}
.img-6-con{
    grid-row: 3/span 1;
    grid-column: 2/ span 1;
    margin-top:70px;
    margin-bottom:-70px;
}

/* .img-offset{
    paddin-top:100px;
} */

footer{
    margin-top:30%;
    grid-column: 1/span 2;
    grid-row: 3;
    justify-self:center ;
}