*{
    margin:0;
    padding:0;
}

body{
    box-sizing: border-box;
    margin:0 auto;
    width:90vw;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('./fonts/SpaceMono-Regular.ttf');
  }

.container{
    display:grid;
    height:100vh;
    grid-template-rows: auto auto auto auto;
    row-gap: 50px;
}

header{
    margin-top:10px;
    justify-self: start;
    font-size: 24px;
    font-weight: bold;
    color:#333333
}

.ScareCrowImg{
   justify-self: center;
}
.ScareCrowImg img{
    width: 300px;
}

main{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: "SpaceMono";
    row-gap: 30px;
}
main .MainTitle{
    color:#333333;
    font-size: 3rem;
    font-weight: 700;
    
}
main .MainInfo{
    font-size: 1.5rem;
    color:#4F4F4F;
}
main button{
    height:60px;
    width:15rem;
    background-color:#333333;
    color:white;
    font-weight: bold;
    
}

footer{
    margin-bottom:20px;
    justify-self: center;
    align-self: flex-end;
    color:#BDBDBD;
}