*{
    margin:0;
    padding:0;
    /* border:1px solid red; */
}

body{
    box-sizing: border-box;
    margin:0 auto;
    width:90vw;
    height:100vh;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('./fonts/SpaceMono-Regular.ttf');
  }

.container{
    display:grid;
    height:100vh;
    grid-template-rows: auto auto 1fr auto;
    row-gap: 50px;
}

header{
    margin-top:10px;
    justify-self: start;
    font-size: 24px;
    font-weight: bold;
    color:#333333;
    grid-row:1/span 1;
}

.ScareCrowImg{
   justify-self: center;
   /* max-height:20%; */
}
.ScareCrowImg img{
    width: 300px;
}

main{
    display:grid;
    grid-template-rows: auto auto auto;
    font-family: "SpaceMono";
    row-gap: 30px;
    max-height:60%;
}
main .MainTitle{
    color:#333333;
    font-size: 3rem;
    font-weight: 700;
    
}
main .MainInfo{
    font-size: 1.5rem;
    color:#4F4F4F;
    /* width:500px; */
}
main button{
    height:60px;
    width:15rem;
    background-color:#333333;
    color:white;
    font-weight: bold;
    
}

footer{
    /* margin-bottom:20px; */
    justify-self: center;
    /* align-self: flex-end; */
    color:#BDBDBD;
}